---
layout: default
featured_image: images/masked-telephone.jpg
---

<section class="hero">

	<div class="hero__image" style="background-image: url({{ page.featured_image | relative_url }})">
		<div class="hero__overlay"></div>
	</div>

	<div class="wrap">

      <h1>Dead Drop</h1>

      <p>The first and only <strong>perfectly meta-data-secure</strong> communication app!
      <a href="{% post_url 2020-11-04-meta-data-secure %}"><sup style="font-size: small">(What does this mean?)</sup></a></p>

      <p style="font-size: xx-large">Become a user <i>today</i>, tomorrow may be too late! <a href="{% post_url 2020-11-05-subscribe-today %}"><sup style="font-size: small">(Why?)</sup></a></p>

      <a href='http://play.google.com/store/apps/details?id=com.crowdymous.deaddrop&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' src='https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png'/></a>

      {% include socials.html %}

	</div>

</section>

<section class="listing">

	<div class="wrap">

		{% for project in site.projects reversed %}

		<article class="post">

			<div class="post__image-wrap">
				<div class="post__image" style="background-image: url({{ project.featured_image | relative_url }})"></div>
			</div>

			<div class="post__content-wrap">
				<div class="post__content">
					<h2 class="post__title"><a href="{{ project.url | relative_url }}">{{ project.title }}</a></h2>
					<p class="post__subtitle">{{ project.subtitle }}</p>
					<p class="post__description">{{ project.description }}</p>
				</div>
			</div>

		</article>

		{% endfor %}

	</div>

   <!--
   <span>Photo by <a href="https://unsplash.com/@devinkaselnak?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Devin Kaselnak</a> on <a href="https://unsplash.com/s/photos/spy?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText">Unsplash</a></span>
   <-->

</section>
